In [1]:
print "Hello"

Hello

In [2]:
print 10+20

30

In [4]:
#declaring variables
a=5
b=5.5
c= True

In [5]:
print(a)
print(b)
print(c)

5
5.5
True

In [10]:
def a():
    return 5
a()

5

In [15]:
import math
d = math.sqrt(4)
a = 15%2
b = 10**2
c = 4 ** 1/2.0
print c

2.0

In [21]:
a = "Hello"
print a[-1]
print a.lower()
print len(a)

o
hello
5

In [25]:
pi = 3.14
print"The value of PI is ",pi
print"The value of PI is "+str(pi)

The value of PI is  3.14
The value of PI is 3.14

In [27]:
a= 'coimbatore '
b = 'Bangalore'
print 'I am from ' + a 
print "I am from %s I am working in %s " %(a,b)

I am from coimbatore
I am from coimbatore  I am working in Bangalore

In [28]:
i = raw_input("Enter your name: ")
age = input("Enter your age: ")
city = raw_input("Enter your city: ")
print "I am from %s , My age is %d , My city is %s  " %(i,age,city)

Enter your name:  partha

Enter your age:  19

Enter your city:  coimbatore

I am from partha , My age is 19 , My city is coimbatore

In [29]:
import time
import datetime

print "Time in seconds since the epoch: %s" %time.time()
print "Current date and time: " , datetime.datetime.now()
print "Or like this: " ,datetime.datetime.now().strftime("%y-%m-%d-%H-%M")


print "Current year: ", datetime.date.today().strftime("%Y")
print "Month of year: ", datetime.date.today().strftime("%B")
print "Week number of the year: ", datetime.date.today().strftime("%W")
print "Weekday of the week: ", datetime.date.today().strftime("%w")
print "Day of year: ", datetime.date.today().strftime("%j")
print "Day of the month : ", datetime.date.today().strftime("%d")
print "Day of week: ", datetime.date.today().strftime("%A")

Time in seconds since the epoch: 1522388277.35
Current date and time:  2018-03-30 05:37:57.346161
Or like this:  18-03-30-05-37
Current year:  2018
Month of year:  March
Week number of the year:  13
Weekday of the week:  5
Day of year:  089
Day of the month :  30
Day of week:  Friday

In [32]:
from datetime import datetime
now = datetime.now()
print now
print now.date
print now.

AttributeError: type object 'datetime.datetime' has no attribute 'datetime'

In [43]:
def lessthan_or_equalto_10(x):
    if x<10:
        print -1
    else:
        print 1
    if x == 10:
        print 0
x=input("Enter a number: ")
lessthan_or_equalto_10(x)

Enter a number:  10

1
0

In [44]:
def smallnum(*arg):
    return max(arg),min(arg)
print smallnum(-10,0,12,13)

(13, -10)

In [49]:
list1 = ['dog','cat','gangaroo','tiger'];
print list1[1]
print "first animal name "+ list1[0]
a=list1.index('dog')
list1.insert(a,'tiger')
print list1

cat
first animal name dog
['tiger', 'dog', 'cat', 'gangaroo', 'tiger']

In [53]:
dict = {101:"ashish", 102:" bhuvan", 103:" catherin"}
print dict[101]

ashish

In [55]:
list1=[1,2,3,4,5]
list1.append(7)
list2=[6]
print list1+list2

[1, 2, 3, 4, 5, 7, 6]

In [60]:
dict = {'Name':"parthasarathi", 'age': 19, "emailid":"rvparthasarathi@gmail.com"}
print dict
print dict.keys()
print dict.items()
print dict.values()

{'emailid': 'rvparthasarathi@gmail.com', 'age': 19, 'Name': 'parthasarathi'}
['emailid', 'age', 'Name']
[('emailid', 'rvparthasarathi@gmail.com'), ('age', 19), ('Name', 'parthasarathi')]
['rvparthasarathi@gmail.com', 19, 'parthasarathi']